<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- j쿼리 -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    아이디 <input type="text" id="inputId">
    비번 <input type="text" id="inputPassword">
    <br>
    <button onclick="sign_in()">로그인 하기 ㅇ.ㅇ</button>
    <br>
    <br>
    <button onclick="window.location.href='/join'">회원가입 ㅇㅅㅇ</button>

    <script>
        function sign_in() {
            let userId = $("#inputId").val();
            let password = $("#inputPassword").val();
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    insta_Id: userId,
                    password: password,
                },
                success: function (response) {
                    localStorage.setItem("token", response.token);
                    window.location.replace("/home");
                },
                error: function (error) {
                    alert("훗 오류야")
                    // customAlert(error.responseJSON.errorMessage);
                },
            });
        }

        function customAlert(text) {
            $("#alertText").text(text);
            $("#alertModal").modal("show");
        }
    </script>
</body>

</html>